html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub
, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0
}
ul{
	list-style-type: none;
}
a{
 text-decoration: none;	
}
body{
	background:whitesmoke;
}
.container-header{
	width:1348px;
	height:98px;
	background:white;
	/*float: left;*/
	margin: 0 auto;
	border-bottom: 5px solid orange;
}
.container-all{
	width: 1228px;
	height:98px;
	/*background:yellowgreen;*/
	margin: 0 auto;
}
.nav-ak{
	width:49px;
	height:49px;
	/*background:blueviolet;*/
	float: left;
	margin-top:26px;
}
.nav-wod{
	width:141px;
	height:49px;
	/*background:blueviolet;*/
	float: left;
	margin-top:26px;
	margin-left:45px;
	text-align: center;
	line-height:49px;
}
.lko{
	margin-top:50px;
	width:337px;
	height: 12px;
	/*background:red;*/
	float:left;
	margin-left:17px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}
.head-right{
	width:63px;
	height:12px;
	/*background:orange;*/
	float: right;
	margin-top:44px;
	margin-right:5px;
	line-height:12px;
	font-size: 11px;
	text-align: center;
}
.kods{
	width:1222px;
	height:494px;
	background:pink;
	margin-top:36px;
	float: left;
}
.klosw{
	width:1222px ;
	height:84px ;
	background:blue ;
	float: left;
}
.gouxuan{
	width:24px ;
	height:27px ;
	/*background:red;*/
	float: left;
	margin-top:27px ;
	margin-left:24px;
	
}

input{
	width:24px ;
	height:27px ;
}
.quanxuan{
	width:30px;
	height:15px ;
	/*background:red;*/
	float: left;
	margin-top:32px;
	margin-left:15px ;
	text-align: center;
	font-size:15px;
	line-height: 15px;
}

.hjhw{
	width:58px;
	height:14px ;
	/*background:red;*/
	float: left;
	margin-top:29px ;
	margin-left:144px;
	text-align: center;
	line-height: 14px;
	font-size:14px;
}

.danjian{
	width:28px;
	height:14px ;
	/*background:red;*/
	float: left;
	margin-top:29px ;
	margin-left:371px;
	text-align: center;
	line-height: 14px;
	font-size:14px;
}
.shuliang{
	width:28px;
	height:14px ;
	/*background:red;*/
	float: left;
	margin-top:29px ;
	margin-left:146px;
	text-align: center;
	line-height: 14px;
	font-size:14px;
}

.xiaoji{
	width:28px;
	height:14px ;
	/*background:red;*/
	float: left;
	margin-top:29px ;
	margin-left:151px;
	text-align: center;
	line-height: 14px;
	font-size:14px;
}

.caozuo{
	width:28px;
	height:14px ;
	/*background:red;*/
	float: left;
	margin-top:29px ;
	margin-left:106px;
	text-align: center;
	line-height: 14px;
	font-size:14px;
}





.zjleft{
	width:1222px;
	height:51px ;
	/*margin-top: ;
	margin-left: ;*/
	background:yellow ;
	float: left;
}
.kokox{
	width:56px;
	height:15px ;
	background:red ;
	margin-left:32px ;
	margin-top:20px;
	float: left;
    font-size:14px;
    text-align: center;
    line-height: 15px;
}


























.hedes{
	width:1228px;
	height:111px;
	/*background:yellow;*/
	float:left;
	text-align: center;
    line-height:111px;
    font-size:32px;
}
.foot-nc{
	width:1228px;
	height:616px;
	background:white;
	float: left;
}
.nal{
	width:1228px;
	height:66px;
	/*background: whitesmoke;*/
	float: left;
}

.deml-h1{
	width:233px;
	height:301px;
	/*background:palegreen ;*/
	float: left;
}
.loader-whiteh1{
	width:233px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea1{
	width:233px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew1{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}




.deml-h2{
	width:233px ;
	height: 301px;
	/*background: palegreen;*/
	float: left;
	margin-left:15px ;
}

.loader-whiteh2{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea2{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew2{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}




.deml-h3{
	width:233px ;
	height:301px ;
	/*background:palegreen ;*/
	float: left;
	margin-left:15px ;
}

.loader-whiteh3{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea3{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew3{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}




.deml-h4{
	width:233px ;
	height: 301px;
	/*background: palegreen;*/
	float: left;
	margin-left:15px ;
}

.loader-whiteh4{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea4{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew4{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}



.deml-h5{
	width:233px ;
	height: 301px;
	/*background:palegreen ;*/
	float:right;
	margin-left:15px ;
}

.loader-whiteh5{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea5{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew5{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}

.deml-m1{
	width:233px ;
	height:301px ;
	/*background:palegreen ;*/
	float: left;
	margin-top:14px ;
	
}
.loader-whiteh6{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea6{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew6{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}




.deml-m2{
	width: 233px;
	height:301px ;
	/*background:palegreen ;*/
	float: left;
	margin-left:15px ;
	margin-top:14px ;
}

.loader-whiteh7{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea7{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew7{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}




.deml-m3{
	width: 233px;
	height:301px ;
	/*background:palegreen ;*/
	float: left;
	margin-left:15px ;
	margin-top:14px ;
}
.loader-whiteh8{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea8{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew8{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}





.deml-m4{
	width:233px ;
	height:301px ;
	/*background:palegreen ;*/
	float: left;
	margin-left:15px ;
	margin-top:14px ;
}

.loader-whiteh9{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea9{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew9{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}




.deml-m5{
	width:233px ;
	height:301px ;
	/*background:palegreen ;*/
	float:right;
	margin-top:14px ;
}
.loader-whiteh10{
	width:234px;
	height:14px ;
	/*background:pink ;*/
	float: left;
    margin-left: ;
    margin-top:8px ;
    float: left;
    text-align: center;
    font-size:14px;
    line-height:14px;
}
.loader-whitea10{
	width:234px ;
	height:16px ;
	/*background:red ;*/
	float: left;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 16px;
}
.rainbow-itemew10{
	margin-top:8px;
	width:108px;
	height:37px ;
	background:orangered;
	float:left;
	text-align:center;
	margin-left:62px;
	padding-top:10px;
}

.nal{
	width:1227px ;
	height:66px;
	background: whitesmoke;
	float: left;
}




 
